<!DOCTYPE HTML>
<html>

   <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title> Восстановление пароля </title>   
      <link rel="stylesheet" href="static/css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="static/js/script.js"></script>
   </head>


   <body>
      <form>
         <img  src="static/image/ico.png" > </img>
		 
         <div data-tip="Формат ввода ***@***.[a-z-A-z]">
   		 <input type="text" placeholder="Введите ваш e-mail"  id="email">
		 </div> 		    


         <span id="valid"></span>
         <span id="valid1"></span>
		 <button > Отправить по e-mail </button>
	
         
      </form>
   </body>

</html>
